@model BookModel

<style>
    .local-body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        width: 400px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .local-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .local-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .local-button {
        width: 100%;
        padding: 10px;
        background-color: #D32F2F;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .local-button:hover {
            background-color: #C12727;
        }
</style>

<div class="local-body">
    <div class="form-container">
        <form asp-action="Delete">
            <input asp-for="Id" hidden />
            <div class="form-group">
                <h5>Are you sure to delete this book?</h5>
            </div>
            <button class="local-button" type="submit">Delete Book</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}