@model RegisterModel


<style>
    .login-body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }

    .input-container {
        margin-bottom: 15px;
    }

    .login-label {
        display: block;
        margin-bottom: 5px;
    }

    .login-input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .login-button {
        padding: 10px 15px;
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .login-button:hover {
            background-color: #0056b3;
        }

</style>

<div class="login-container">
    <h1>Login</h1>
    <form asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl">
        <div class="input-container">
            <label class="login-label" asp-for="Username">Username:</label>
            <input type="text" asp-for="Username" class="login-input">
            <span asp-validation-for="Username"></span>
        </div>

        <div class="input-container">
            <label class="login-label" asp-for="Password">Password:</label>
            <input class="login-input" type="password" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input-container">
            <label class="login-label" asp-for="Email">Email:</label>
            <input class="login-input" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>

        <span asp-validation-for="ErrorMessage"></span>
        <button class="login-button" type="submit">Register</button>
    </form>
</div>
